{% extends 'principal.html.twig' %}

{% block content %}

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!--<div id="mySidenav" class="sidenav">
		<div style="position:relative;top:50%;transform: translateY(-50%);padding-right:25px;padding-left:25px;height:700px;">
			<img id="icono" src="'+path+'" height="" width="" style="display: block;margin-left: auto;margin-right: auto;margin-bottom:10px;">
			<ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
			    <li class="nav-item">
			    	<a class="nav-link active" id="pills-datos-tab" data-toggle="pill" href="#pills-datos" role="tab" aria-controls="pills-datos" aria-selected="true"><strong>Datos</strong></a>
			    </li>
			    <li class="nav-item">
			    	<a class="nav-link" id="pills-notas-tab" data-toggle="pill" href="#pills-notas" role="tab" aria-controls="pills-notas" aria-selected="false"><strong>Notas</strong></a>
			    </li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
			    <div class="tab-pane fade show active" id="pills-datos" role="tabpanel" aria-labelledby="pills-datos-tab">
			      	<hr style="border-color:#b0bdda;width:60%;">
					<div style="color:black;text-align:center;">
						<span class="btn btn-sm" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Incidente N°</strong></span><br>
						<span id="incidente"></span>
						<br><span class="badge badge-pill" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Tipo</strong></span><br>
						<span id="tipo"></span>
						<br><span class="badge badge-pill" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Subtipo</strong></span><br>
						<span id="subtipo"></span>
						<br><span class="badge badge-pill" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Estado</strong></span><br>
						<span id="estado"></span>
						<br><span class="badge badge-pill" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Calle</strong></span><br>
						<span id="calle"></span>
						<br><span class="badge badge-pill" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Sentido</strong></span><br>
						<span id="sentido"></span>
						<br><span class="badge badge-pill" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Descripción</strong></span><br>
						<span id="descripcion"></span>
						<hr style="border-color:#b0bdda;width:60%;">
						<button id="volverAlMapa" class="btn btn-md" style="background-color:#b0bdda;color:white;border-radius: 12px;cursor:pointer;">Volver</button><br>
					</div>
			    </div>
			    <div class="tab-pane fade" id="pills-notas" role="tabpanel" aria-labelledby="pills-notas-tab">
			      	<hr style="border-color:#b0bdda;width:60%;">
			      	<div style="color:black;text-align:center;">
			      		<span class="btn btn-sm" style="background-color:none;border: 2px solid #b0bdda;border-radius: 12px;color:#b0bdda;"><strong>Observaciones</strong></span><br>
						<span id="observaciones">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</span>
						<hr style="border-color:#b0bdda;width:60%;">
						<button id="volverAlMapa" class="btn btn-md" style="background-color:#b0bdda;color:white;border-radius: 12px;cursor:pointer;">Volver</button><br>
			      	</div>
			    </div>
			</div>
		</div>
	</div>

	<div id="tabla" class="sidenavTabla">
		<div class="contentTabla">
			<div style="text-align:center;padding-top:2em;">
				<h2>Incidentes</h2>
			</div>
			<input type="text" style="float:right;border-radius: 12px;border: 2px solid #b0bdda;" class="form-control" id="buscarIncidente" placeholder="Buscar Incidente..."/>

			<table id="incidentes" class="table table-striped table-hover compact" style="text-align:center;width:100%">
				<thead>
					<th>
						#
					</th>
					<th>
						Calle
					</th>
					<th>
						Sentido
					</th>
					<th>
						Tipo
					</th>
					<th>
						Subtipo
					</th>
					<th>
						Estado
					</th>
					<th>
						Descripcion
					</th>
					<th>
						Opciones
					</th>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>-->

    <div id="map" style="height:100%;"></div>

{% endblock %}

{% block js %}

    <script src="{{asset('js/mapa.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO1QxdMtOQW1nMGLrFn1o-CrMLitzmkuM&callback=initMap"
    async defer></script>

{% endblock %}