/*ESTILOS PARA LOGIN*/

/* ESTILO DE LA CAJA TRANSPARENTE DE LOGIN */
#caja_login {
    left: 50%;
    top: 50%;
    position: absolute;
    width:450px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate(-50%, -50%, 0);
    box-shadow: 0px 0px 10px -2px grey;
    background-color:rgb(242, 242, 242,0.7);
    border-radius:20px;
}
/*--------------------------------------------*/

/* ESTILO PARA EL CONTENIDO DEL LOGIN (INPUTS,BOTON) */
#login {
	padding:50px;
}

#login input{
    box-shadow:none!important;
    border-color: #bfbfbf!important;
    border-radius:0rem;
    margin-bottom:10px;
}

#login input:focus{
    box-shadow:0px 0px 2px 1px #bfbfbf!important
}
/*-----------------------------------------------------*/

/* ESTILO PARA LAS IMAGENES (MUNI,WAZE) */
#imagen {
    width:50px;
    height:50px;
    /*border-radius:50%;*/
    position:absolute;
    bottom: -25px;
    left: calc(50% - 25px);
}

#imagen2 {
    width:153px;
    height:121px;
    /*border-radius:50%;*/
    position:absolute;
    top: -80px;
    left: calc(50% - 76.5px);
}
/*---------------------------------------*/

/* ESTILO DEL BODY */
body{
    background-repeat: no-repeat;
    background-size: cover;
    /* La imagen se la doy en el HTML por el Asset */
}
/*-----------------*/

/* ESTILO PARA LOS ERRORES GENERALES (USER,PASS)*/
.error{
    color:red;
    display:none;
}
/*------------------------------------------------*/

/* ESTILOS DEL ERROR DE LOGIN */
#error_login{
    margin-bottom:10px;
    border-radius:4px;
    background-color:red;
}

#error_login_mensaje{
    color:white;
    padding:13px;
}

#error_login_cerrar{
    float:right;
    padding-right:13px;
    cursor:pointer;
}
/*-----------------------------*/

#boton_login{
    cursor:pointer;
    background-color:#000000;
    color:white;border-radius: 12px;
}